@{
    Layout = "~/Areas/Admin/Views/Shared/_MasterLayout.cshtml";
}

@section JavaScriptSection{
    @Scripts.Render("~/Scripts/TabHelper")
    @Scripts.Render("~/Scripts/DataTableHelpers")
    @RenderSection("JavaScriptSection", required: false)
}

@section Content{
<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Title</h1>
        @RenderSection("Breadcrumb", false)
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="active"><a href="#tab1" role="tab" data-toggle="tab">List</a></li>
            <li><a href="#tab2" role="tab" data-toggle="tab">Add/Edit</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                @{ Html.RenderAction("List"); }
            </div>
            <div class="tab-pane" id="tab2">
                @{ Html.RenderAction("Create"); }
            </div>
        </div>
    </div>
</div>
@RenderBody()
}
